//npm.pkg.github.com/:_authToken=${PERSONAL_GITHUB_TOKEN}
//registry.npmjs.org/:_authToken=${PERSONAL_NPMJS_TOKEN}
@dexfs:registry=https://npm.pkg.github.com
@charging:registry=https://registry.npmjs.org
always-auth=true